[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = {{ .git.name | quote }}
	email = {{ .git.email | quote }}
	signingkey = 2582074D715AAABF
[commit]
	gpgsign = true
[gpg]
	format = openpgp
	program = /opt/homebrew/bin/gpg
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[tag]
	gpgsign = true
	forceSignAnnotated = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Catppuccin Mocha
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
