[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = {{ .git.name | quote }}
	email = {{ .git.email | quote }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICbPCNEKCY+IcUPpQl5zJ3XIG2PhCpNOOBoTeihH3Iou
[commit]
	gpgsign = true
[tag]
	gpgsign = true
	forceSignAnnotated = true
[gpg]
	format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "darwin" -}}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{ else if eq .chezmoi.os "windows" -}}
	program = C:/Users/{{ .chezmoi.username }}/AppData/Local/1Password/app/8/op-ssh-sign.exe
{{ else if eq .chezmoi.os "linux" -}}
	program = /opt/1Password/op-ssh-sign
{{ end -}}
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[include]
	path = ~/.config/delta/catppuccin.gitconfig
[delta]
	features = catppuccin-mocha
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Catppuccin Mocha
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
